html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  outline: transparent;
}

button {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  outline: transparent;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 30px;
}

.section {
  height: 100vh;
  padding: 42px 0;
}

.title {
  font-size: 55px;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 52px;
  padding: 27px 0 18px;
}
.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 52px;
}
.nav__menu-link {
  display: block;
  font-size: 24px;
  position: relative;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.nav__menu-link::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #D3F332;
  position: absolute;
  left: 0;
  top: 90%;
  -webkit-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.nav__menu-link:hover, .nav__menu-link--active {
  color: #D3F332;
}
.nav__menu-link:hover::after, .nav__menu-link--active::after {
  width: 100%;
}

.lan-switcher__btn {
  font-style: 24px;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.lan-switcher__btn:hover, .lan-switcher__btn--active {
  color: #D3F332;
}

.main-screen__inner {
  height: calc(100vh - 98px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 834px;
  padding: 60px 100px;
}
.main-screen__logo {
  max-width: 210px;
}
.main-screen__title {
  font-weight: 900;
  font-size: 64px;
}
.main-screen__dscr-text {
  font-size: 36px;
}