body {
  background-color: $global-bg;
  color: $text-color;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;

  @media (max-width:1200px) {
    font-size: 22px;
  }

  @media (max-width:768px) {
    font-size: 18px;
  }
}

.disable-scroll {
  overflow: hidden !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  padding: 42px 0;
}

.title {
  font-size: 55px;

  @media (max-width:1200px) {
    font-size: 42px;
  }


  @media (max-width:576px) {
    font-size: 32px;
  }
}