.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transition: transform 0.3s ease;
  position: fixed;
  background-color: #000000f2;

  &--hidden {
    transform: translateY(-107px);
  }

  &__logo {
    flex: none;
    max-width: 55px;
    z-index: 1;
  }



}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 33px;
  padding: 27px 0 18px;
  position: relative;

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    width: 0;
    padding: 40px 0;
    padding-left: 0;
    position: absolute;
    top: 107px;
    right: 0;
    height: calc(100vh - 107px);
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease;

    &--active {
      width: 300px;
      padding-left: 40px;
    }
  }

  &__menu-item {
    width: 300px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transform: rotateZ(12deg) translateX(100%) translateY(10%);
    transition: all 0.3s ease;

    &--lang-switcher {
      display: none;
    }
  }

  &__menu--active &__menu-item {
    transform: rotateZ(12deg) translateX(0) translateY(0);
  }

  &__menu-link {
    display: block;
    font-size: 32px;
    background: conic-gradient(from 238.24deg at 95.74% 103.23%, #F5F5F5 0deg, #FFFFFF 0.04deg, #000000 360deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    text-align: right;
    transition: all 0.3s ease;

    &:hover {
      font-size: 40px;
      background: conic-gradient(from 238.24deg at 95.74% 103.23%, #D3F332 0deg, #000000 360deg);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }

  &__menu-item.active &__menu-link {
    font-size: 40px;
    background: conic-gradient(from 238.24deg at 95.74% 103.23%, #D3F332 0deg, #000000 360deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

}

.header--hidden .nav__menu {
  top: 214px;
}

.header--hidden .burger-btn {
  transform: translateY(107px);
}





@media (max-width:1024px) {

  .nav {

    &__menu {
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      width: 100%;
      height: 0;
      padding: 0 40px 0;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      background-color: #000000f2;
      overflow-y: hidden;
      overflow-x: hidden;

      &--active {
        height: 100vh;
        padding: 107px 40px 40px;
        overflow-y: auto;
      }
    }

    &__menu-item {
      width: 100%;
      justify-content: center;
      transform: rotateZ(0) translateX(0) translateY(0);

      &--lang-switcher {
        display: flex;
      }
    }

    &__menu--active &__menu-item {
      transform: rotateZ(0) translateX(0) translateY(0);
    }

    &__menu-link {
      width: 100%;
      text-align: center;
    }

  }


  .header--hidden .nav__menu {
    top: 107px;
  }

}



.lang-switcher {
  display: flex;
  gap: 8px;

  margin-left: auto;

  &__btn {
    font-size: 24px;
    text-transform: uppercase;
    transition: color 0.3s ease, text-shadow 0.2s ease;

    &:hover {
      color: $accent-color;
    }

    &:active {
      text-shadow: 0 0 6px $accent-color;
    }

    &--active {
      color: $accent-color;
    }
  }

  &__decor {
    width: 1px;
    background-color: $text-color;
  }

  &--mobile {
    margin-left: 0;
  }

  &--desktop {
    @media (max-width: 1024px) {
      display: none;
    }
  }

}